## Solutions of Week 0 Day 2 Practice Questions 
##### We thank our coaches for coming up with this. 
##### **Contributors:** Sanyam Dhawan, Utkarsh, Aishwarya Yadav, Avi Tomar, Julian Marinda, Manish KC, Gunnika Batra

1. Print First 10 natural numbers using while loop.

In [0]:
# Remember that the natural numbers start from 1. So the 10th natural number will be 10.
i = 1
while(i<=10):  #while loop will run until i takes the value of 10
    print("Natural Number " + str(i)) #We use str() to convert i which is an int to string
    i+=1  #increasing the value of i in every step

Natural Number 1
Natural Number 2
Natural Number 3
Natural Number 4
Natural Number 5
Natural Number 6
Natural Number 7
Natural Number 8
Natural Number 9
Natural Number 10

2. Iterate over the following list and print the elements:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [0]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:    #Here, i holds every element of the list. 
    print(i)

12
15
32
42
55
75
122
132
150
180
200

3.     Accept a number n from user and print its multiplication table

In [0]:
# A standard multiplication table is till the 10th multiple. 
# Here, we show a way to display the multiplication table until any multiple that the user wants.

# We convert input into int so that we can perform integer operations
# Otherwise, all the inputs are by default string.
table_int = int(input("Enter a number: "))
table_range = int(input("Enter the last desired mutiple for the table: "))

#added 1 because we want the 15th multiple to be printed which was otherwise exclusive
for i in range(1,(table_range +1)): 
    #converted all the ints to strings before printing
    print(str(table_int) + " x " + str(i) + " = " + str(table_int*i))

Enter a number: 5
Enter the last desired mutiple for the table: 20
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
5 x 20 = 100

4.    Use the enumerate function to print the elements of this list along
with the indices:
        grocery = ['bread', 'milk', 'butter']

In [0]:
grocery = ['bread', 'milk', 'butter']

for index, item in enumerate(grocery):  #enumerate returns 2 values which are being stored in index and item
    print("Index " + str(index) + " element is " + item)

Index 0 element is bread
Index 1 element is milk
Index 2 element is butter

5. Write a program to input number from user and find sum of all numbers 
between 1 to n.

In [0]:
num = int(input("Enter a number: ")) 
sum = 0  # we need to intialise the sum with 0 first
for i in range(1,(num+1)):
    sum+=i
print("The sum is " + str(sum))

Enter a number: 10
The sum is 55

6. Create a sequence of numbers from 3 to 5, and print each item in the 
sequence.

In [0]:
#Creating a sequence using hard-code
print("Method 1")
seq = [3,4,5]
print( 'The sequence is ')
for num in seq:
     print(num)
    
#Creating sequence using for loop
print("Method 2")
print("The sequence is ")
for i in range(3,6): #By default, range increments by 1
    print(i)

Method 1
The sequence is
3
4
5
Method 2
The sequence is
3
4
5

7. Create a sequence of numbers from 3 to 19, but increment by 2 
instead of 1.

In [0]:
print("The sequence is ")
for i in range(3,20,2): #If we want to increment range by 2, we can specify the last argument as 2
    print(i)

The sequence is
3
5
7
9
11
13
15
17
19

8.     Print the letters of the string “Python” in the same line:<br>
Using a simple for loop <br>
Using the range function

In [0]:
#Using a simple for loop
print('Using a simple for loop')
for i in "Python":
    print(i,end=',')

Using a simple for loop
P,y,t,h,o,n,

In [0]:
#Using the range function
print('Using the range function')
string = "Python"
for i in range(len(string)):
    print(string[i],end=',')

Using the range function
P,y,t,h,o,n,